@import "set.css"

html
  height: 93%

body
  height: 98%
  background-color: hsl(0, 0%, 95%)

#container, #main
  height: 100%
  font-size: 12px

#whiteboard
  width: 100%
  height: 84%
  border-bottom: 2px solid hsl(0, 0%, 15%)
  background-color: hsl(0, 0%, 100%)

#taskbar
  position: relative
  padding-top: 2em
  float: left
  width: 100%
  margin: auto
  height: 16%

#taskbar ul
  float: left
  clear: left
  position: relative
  left: 50%

#taskbar .menu
  height: 100%

#taskbar li
  position: relative
  right: 50%
  float: left

#taskbar .menu li
  width: 5em
  height: 5em
  margin: .5em 1em
  border-radius: 100em
  border: 2px solid hsl(0, 0%, 15%)
  background-color: hsl(0, 0%, 70%)

.inner
  height: 100%
  border-radius: 100em
  display: none

.hoverboard
  background-color: hsl(60, 80%, 80%) !important

.nohoverboard
  background-color: hsl(0, 0%, 100%)