@import "set.css"

html
  height: 93%

body
  height: 98%

#container, #main
  height: 100%
  font-size: 12px

#whiteboard
  width: 100%
  height: 78%

#taskbar
  width: 100%
  height: 16%
  background-color: hsl(0, 0%, 30%)

#taskbar li
  width: 6em
  height: 6em
  margin: .5em 1em
  border-radius: 100em
  float: left
  background-color: hsl(0, 0%, 70%)

.hoverboard
  background-color: hsl(60, 80%, 80%) !important

.nohoverboard
  background-color: hsl(0, 0%, 98%)