#whiteboard.nohoverboard
nav#taskbar
	ul
		li(class='_browser', draggable='true', id='_safari') S
		li(class='_window', draggable='true', id='_macosx') M
		li(class='_smartphone', draggable='true', id='_iphone4') I
		li(class='_text', draggable='true', id='_textbox') T
		li(class='_button', draggable='true', id='_normal') N