#whiteboard.nohoverboard
nav#taskbar
	ul
		li(class='_browser', draggable='true', id='_safari') safari
		li(class='_window', draggable='true', id='_macosx') macosx
		li(class='_smartphone', draggable='true', id='_ios') ios
		li(class='_text', draggable='true', id='_textbox') textbox
		li(class='_button', draggable='true', id='_normal') normal