#whiteboard.nohoverboard
nav#taskbar
	ul
		li(class='_text', draggable='true', id='_titulo') titulo
		li(class='_shape', draggable='true', id='_cuadrado') cuadrado
		li(class='_control', draggable='true', id='_boton') boton
		li(class='_textcontainer', draggable='true', id='_textbox') textbox
		li(class='_container', draggable='true', id='_panel') panel