#whiteboard.nohoverboard
nav#taskbar
	ul.menu
		li(class='_text', draggable='true', id='_titulo')
		li(class='_shape', draggable='true', id='_cuadrado')
		li(class='_control', draggable='true', id='_boton')
		li(class='_textcontainer', draggable='true', id='_textbox')
		li(class='_container', draggable='true', id='_panel')