!!! html
//if lt IE 7
  <html class="no-js ie6 oldie" lang="en">
//if IE 7
  <html class="no-js ie7 oldie" lang="en">
//if IE 8
  <html class="no-js ie8 oldie" lang="en">
//[if gt IE 8]><!
html(class='no-js', lang='en')
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    
    title= title
    meta(name='description', content='')
    meta(name='author', content='')
    
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src='javascripts/libs/modernizr-2.0.6.min.js')

  body
    #container
      #main(role='main')!= body
      footer

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
    script window.jQuery || document.write('<script src="javascripts/libs/jquery-1.6.2.min.js"><\\/script>')

    script(src='javascripts/libs/coffee-script.js')
    script(src='javascripts/libs/underscore.js')
    script(src='javascripts/libs/backbone.js')

    script(type='text/coffeescript', src='javascripts/plugins.coffee')
    script(type='text/coffeescript', src='javascripts/mockup.fan.coffee')
    script(type='text/coffeescript', src='javascripts/mockup.start.coffee')
    script(type='text/coffeescript', src='javascripts/script.coffee')

    script
      window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
      Modernizr.load({
        load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
      });
      
        
    //if lt IE 7
      script(src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js', defer)
      script(defer) window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})