@import "set.css"

#whiteboard
  width 100%
  height 40em
  background-color hsl(0, 0%, 50%)

#taskbar 
  padding: .5em 2.2em
  background-color: hsla(0, 0%, 0%, 0.0)

#taskbar li 
  width 6em
  height 6em
  margin .5em 1em
  border-radius 100em
  background-color hsl(0, 0%, 30%)
