@import "set.css"

html
  height 93%

body
  height 98%

#container, #main
  height 100%
  font-size 12px

#whiteboard
  width 100%
  height 80%
  background-color hsl(0, 0%, 98%)

#taskbar 
  padding: .5em 2.2em
  background-color: hsl(0, 0%, 30%)

#taskbar li 
  width 6em
  height 6em
  margin .5em 1em
  border-radius 100em
  background-color hsl(0, 0%, 70%)
