@import url(set.css);
/* line 3, ../../assets/sass/style.sass */
html {
  height: 93%;
}

/* line 6, ../../assets/sass/style.sass */
body {
  height: 98%;
  background-color: #f2f2f2;
}

/* line 10, ../../assets/sass/style.sass */
#container, #main {
  height: 100%;
  font-size: 12px;
}

/* line 14, ../../assets/sass/style.sass */
#whiteboard {
  width: 100%;
  height: 84%;
  border-bottom: 2px solid #262626;
  background-color: white;
}

/* line 20, ../../assets/sass/style.sass */
#taskbar {
  position: relative;
  padding-top: 2em;
  float: left;
  width: 100%;
  margin: auto;
  height: 16%;
}

/* line 28, ../../assets/sass/style.sass */
#taskbar ul {
  float: left;
  clear: left;
  position: relative;
  left: 50%;
}

/* line 34, ../../assets/sass/style.sass */
#taskbar .menu {
  height: 100%;
}

/* line 37, ../../assets/sass/style.sass */
#taskbar li {
  position: relative;
  right: 50%;
  float: left;
}

/* line 42, ../../assets/sass/style.sass */
#taskbar .menu li {
  width: 5em;
  height: 5em;
  margin: 0.5em 1em;
  border-radius: 100em;
  border: 2px solid #262626;
  background-color: #b3b3b3;
}

/* line 50, ../../assets/sass/style.sass */
.inner {
  height: 100%;
  border-radius: 100em;
  display: none;
}

/* line 55, ../../assets/sass/style.sass */
.hoverboard {
  background-color: #f5f5a3 !important;
}

/* line 58, ../../assets/sass/style.sass */
.nohoverboard {
  background-color: white;
}
